.container {
  background-color: #fdc826;
  margin-top: -55px;
  position: relative;
  min-height: 1080px;
}
.title {
  position: absolute;
  top: 317px;
  left: 845px;
  text-align: center;
}
.title h2 {
  font-weight: 100;
  font-size: 64px;
}
.title h1 {
  font-weight: 600;
  font-size: 64px;
}
.factsImage {
  position: absolute;
  left: 700px;
  top: 700px;
}
