.navLinks {
  color: black !important;
  font-size: 28px;
  text-transform: capitalize !important;
  font-family: "Poppins", sans-serif;
}
.navLinks:hover {
  color: #ff9f00 !important;
}

.activeLink {
  color: #ff9f00 !important;
}
