.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.nav {
  display: flex;
  list-style: none;
  font-size: 32px;
  font-weight: 100;
}
.nav li {
  margin: 0px 25px;
}
.nav li:hover {
  color: #ff9f00;
}

.image {
  margin: 0px 25px;
  display: inline;
  cursor: pointer;
}
.activeLink {
  color: #ff9f00;
}
