.heroSection {
  min-height: 90vh;
  width: 100%;
  background: url("/Hero-Image.webp");
  background-size: cover;
  background-repeat: no-repeat;
}
.container {
  min-width: 95%;
  min-height: 85vh;
}
.content {
  max-width: 500px;
}
.button {
  font-size: 2em;
  border-radius: 20px;
}
.heading {
  font-size: 4em;
}
.subHeading {
  font-size: 2em;
}
.description {
  font-size: 1em;
}
.buttonText:hover {
  color: white;
  text-decoration: none;
}
